button {
    font-size: 15px;
    color: black;
    font-color: white;
    border-radius: 8px;
    
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;

}

h1 {
    text-align: center;

}

