button{
    font-family:"My College Degree", cursive;
    font-size: 15px;
    color:white;
    border-radius: 8px;
    background:lightpink;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
  
}

h1 {
    text-align: center;
    
}